# Environment
NODE_ENV="development"

# Database
DATABASE_URL=""
DATABASE_POOLER_URL=""

# R2 Object Storage
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""

# Upstash Rate Limiter
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# JWT Authentication
JWT_SECRET=""
